<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  Cabecero
</header>

<main class="px-4">
  <section
    class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  >
    <div class="max-w-xl">
      <div class="flex gap-4 mb-4">
        <img src="shared/image/Foto graduacion.jpeg" alt="Cristian" width="300" height="200" class="rounded-full shadow-lg size-16"/>
      </div>
    </div>

    <div class="max-w-xl">
      <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Hola, soy Cristian
      </h1>
      <p
        class=""
      >
        Con +3 años de experiencia soy
        <strong
          >técnico superior en Desarrollador de aplicaciones
          multiplataforma</strong
        >
        Murcia, España 🇪🇸. Especializado en el desarrollo backend con Java y
        <strong> creador de apps Android, </strong> con JetPack Compose y
        Kotlin.
      </p>
    </div>
  </section>
</main>
